  .grid-container {
    display: grid;
    grid-auto-rows: 10vh auto 25vh;
    padding: 10px;
    row-gap:2vh;
    justify-items:center
    
  }
  
  .grid-item {
   width:60%;
    text-align: center;
  }
  
  .grid-item.order-summary{
    display: grid;
    grid-template-rows: auto;
    border: 2px solid rgba(0,0,0,0.3);
  }

  .cartItemContainer{
    display: grid;
    grid-template-columns: 20vw auto; 
    box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
    margin: 1vw;
  }
  
  #cartItemImage img{
    width: 10vw;
    height: 10vh;
    padding: 1vw;
  }
  .cartItemDetails{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
  }

#cartItemQP{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cartItemQty, #cartItemPrice, #cartItemName{
    padding: 1vw;
    font-weight:bold ;
}
  .grid-item.payment{
     border: 2px solid rgba(0,0,0,0.3);
     display:grid;
     grid-template-rows:5vh 5vh auto;
     justify-items:start;
  }

  .grid-item.payment .payment-type,.grid-item.payment .payment-selection-form {
    border: none;
    width: 100%;
  }

  .grid-item.payment .payment-type{
   text-align: start;
  }

  .grid-item.payment .payment-selection-form {
    display: revert;
    border-radius: none;
    box-shadow: none;
    }
  

  
  