nav{
    width: 100%;
    color:white;
    min-height: 6vh;
    background-color: rgb(21, 42, 47);
}
.logo img{
    width: 60px;
    min-height: 6vh;
}

nav .nav-links{
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
}

nav .nav-links a{
    text-decoration: none;
    color:white
}

nav ul{
    margin: 0;
}
