nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color:white;
    min-height: 6vh;
    background-color: rgb(21, 37, 47);
}

nav .nav-links{
    width:20%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
}

nav .nav-links > a{
    text-decoration: none;
    color:white
}

nav ul{
    margin: 0;
}
