.postAdContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form{
    border: none;
    border-radius: 0.1vw;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    row-gap:3vh;
    padding: 2vw;
}

form input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.success-message{
    font-weight: bolder;
    color: green;
}

.error-message{
    font-weight: bold;
    color: rgb(217, 66, 66);
}

